body{
  font-family: 'VT323', monospace;
  display: flex;
  flex-wrap: nowrap;
}

@keyframes rainbow{
  0% {background: #f94144;}
  25% {background: #f3722c;}
  35% {background: #f8961e;}
  45% {background: #f9844a;}
  55% {background: #f9c74f;}
  65% {background: #90be6d;}
  75% {background: #43aa8b;}
  85% {background: #4d908e;}
  95% {background: #577590;}
  100% {background: #f94144;}
}

h2{
  border-radius: 50px;
  background-color: white;
  margin-right: 400px;
  margin-left: 400px;
  padding: 10px;
  font-size: 50px;
}

h1{
  margin-top: 0px;
  padding-top: 70px;
  font-size: 100px;
}

#page{
  width: 2000px;
  animation: rainbow 5s infinite;
}

.side{
  max-width:200px;
}

#cookie{
  margin-bottom: 15%;
}